body {
    background: src="images/Photodackground.jpg");
    background-size: cover;
    color: #000000;
    font-family: Helvetica;
    font-weight: ExtraLight;
}

hr {
	width: 200px;
}

h1 {
	font-weight: thin;
	font-size: 30px;
	text-align: center;
}

h3 {
	text-align: right;
}

h5 {
	font-size: 20px;
	text-align: center;
}

#first {
	text-transform: uppercase;
}

/*div {
	width: 150px;
	height: 150px;
	border: 2px solid black;
	display: inline-block;
	margin: 20px;
}

#name {
	background: white;
}

#hex {
	background: #ffffff;
}

#rgb {
	background: rgb(255,255,255);
}*/